<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Client Action for Dashboard -->
    <record id="action_concrete_tag_dashboard" model="ir.actions.client">
        <field name="name">Điều phối bê tông</field>
        <field name="tag">concrete_dashboard</field>
    </record>
    <!-- Sub Menus -->
    <menuitem id="menu_concrete_dashboard"
              name="Phiếu giao hàng"
              parent="max_betong_sale.menu_concrete_coordination_root"
              action="action_concrete_tag_dashboard"
              sequence="1"
              groups="max_betong_sale.group_betong_load_user,max_betong_sale.group_betong_load_manager,max_betong_sale.group_betong_load_admin"
    />

</odoo>

