.o_clickable_list_renderer_view {

    // hover and click
    .custom_clickable_cell {
        color: #017e84;
    }

    .custom_clickable_cell:hover {
        color: #017e84;
    }

    tbody {
        td {
            cursor: default !important;
        }

        td[name="sale_order_id"] {
            cursor: pointer !important;
        }

        td[name="name"] {
            cursor: pointer !important;
        }
    }
}

.o_on_time_list_view_view {

    .custom_clickable_cell {
        color: #017e84;
    }

    .custom_clickable_cell:hover {
        color: #017e84;
    }

    tbody {
        td {
            cursor: default !important;
        }

        td[name="sale_order_id"] {
            cursor: pointer !important;
        }

        td[name="name"] {
            cursor: pointer !important;
        }
    }
}